* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  background: linear-gradient(
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.7)),
    url('./images/bg.jpg') no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation {
  position: relative;
  width: 70px;
  height: 70px;
  background-color: #008080;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.5s;
  border: 2px solid #ff4500;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-delay: 0.8s;
}

.navigation.active {
  width: 200px;
  height: 200px;
  border: 4px solid #ff4500;
  transition-delay: 0s;
}

.navigation span {
  position: absolute;
  width: 7px;
  height: 7px;
  background: #ff4500;
  border-radius: 50%;
  transform: translate(
    calc(14px * var(--x)),
    calc(14px * var(--y))
  );
  transition: 0.5s;
  transition-delay: calc(0.1s * var(--i));
}

.navigation.active span {
  transform: translate(
    calc(60px * var(--x)),
    calc(60px * var(--y))
  );
  width: 45px;
  height: 45px;
}